{% extends 'base.html' %}
{% load humanize %}
<!-- title -->
{% block title %}
    Category Page
{% endblock title %}

<!-- body -->
{% block content %}
    <section id="products" class="my-3 py-3">
        <div class="intro text-center">
            <h6 class="display-6">Our Category</h6>
            <p class="lead">Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="container">
            <div class="row g-3">
                {% if category %}
                  {% for product in category %}
                    <div class="col-md-3">
                        <div class="card">
                            <img src="{{product.image.url}}" style="height: 25vh;" alt="" class="img-fluid">
                            <div class="card-body">
                                <span class="badge bg-primary">In stock: <strong>{{product.stock}}</strong></span>
                                <h3> &#8358; {{product.price |intcomma}} </h3>
                                <p class="lead">{{product.description |truncatewords:8}}</p>
                            </div>
                            <div class="card-footer">
                                <button class="btn btn-success">Add to cart</button>
                                <a href="{% url 'store' product.id %}" class="btn btn-info">View More</a>
                            </div>
                        </div>
                    </div>
                  {% endfor %}
                {% else %}
                    <p class="lead bg-danger">No products in the database yet</p>
                {% endif %}
                
            </div>


        </div>
    </section>
{% endblock content %}