{% extends 'base.html' %}
{% load humanize %}
<!-- title -->
{% block title %}
    Checkout Page
{% endblock title %}

<!-- body -->
{% block content %}
    <section id="products" class="my-3 py-3">
        <div class="intro text-center">
            <h6 class="display-6">Checkout</h6>
            <p class="lead">Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="container">
            <div class="row g-3">
                <div class="col-md-6">
                    <div class="card">
                        <table class="table table-responsive">
                            {% if cart %}
                              <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Image</th>
                                    <th>Product</th>
                                    <th>Price</th>
                                    <th>Qty</th>
                                    <th>Subtotal</th>
                                </tr>
                              </thead>
                              <tbody>
                                {% for item in cart.cartproduct_set.all  %}
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td><img width="100" src="{{item.product.image.url}}" alt="{{item.product.title}}" class="img-thumbnail img-fluid"></td>
                                        <td>{{item.product.title}}</td>
                                        <td> &#8358; {{item.product.price |intcomma}}</td>
                                        <td>
                                            {{item.quantity}} 
                                        </td>
                                        <td><h4> &#8358;{{item.subtotal |intcomma}}</h4></td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <td><h3>Total:</h3></td>
                                    <td colspan="5" class="text-end"> <h3>= &#8358;{{cart.total |intcomma}}</h3></td>
                                </tr>
                                <tr>
                                    <td><a href="{% url 'stores' %}" class="btn btn-success">Continue Shopping</a></td>

                                </tr>
                              </tbody>
                            {% else %}
                              
                            {% endif %}
                            
                        </table>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">Order Form</div>
                        <div class="card-body">
                            <form action="" method="post">
                                {% csrf_token %}
                                {{form.as_p}}

                                <div class="d-grid">
                                    <button type="submit" class="btn btn-success">Place Order</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}