{% extends "base.html" %}
{% block title %}
Password reset complete
{% endblock title %}



{% block content %}
  <div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-header display-6 text-center bg-dark text-white">Password reset complete</div>
                <div class="card-body">
                    <p class="lead">
                        Your password has been set. You may go ahead and log in now.
                    </p>
                    
                    
                    <a href="{% url 'login' %}"><i class="bi bi-arrow-left-circle-fill"></i> Login</a>
                </div>
            </div>
        </div>
    </div>
  </div>
{% endblock content %}